{% extends "base.html" %}
{% block titulo %}Bienvenido, {{current_user.username}}.{% endblock %}

{% block contenido %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Rango</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for aUser in user_list %}

        <tr>
            <td>{{aUser.username}}</td>
            <td>{{aUser.creation_date}}</td>
            {% if aUser.username == "system": %}
            <td>Sistema</td>
            {% elif aUser.admin_privilege == 1: %}
            <td>Administrador</td>
            {% else: %}
            <td>Usuario</td>
            {% endif %}
            <td><a href="mailto:{{aUser.email}}">{{aUser.email}}</a></td>
            {% if aUser.username != "system": %}
            <td>
                <a class="btn btn-outline-secondary btn-sm" href="./userupdate/{{aUser.id}}"><i class="fa fa-pencil"></i> Editar</a>
                <a class="btn btn-outline-danger btn-sm" href="./delete/{{aUser.id}}"><i class="fa fa-trash"></i> Eliminar</a>
                <a class="btn btn-outline-success btn-sm" id="toggle-trigger-on" href="./activate/{{aUser.id}}" > <i class="fa fa-unlock"></i> Activar</a>
                <a class="btn btn-outline-dark btn-sm" id="toggle-trigger-off" href="./deactivate/{{aUser.id}}"> <i class="fa fa-lock"></i>Desactivar</a>
                {% if aUser.Activated == 1: %}
                
                <input id="toggle-two-on" name="toggle-two-on" type="checkbox" data-toggle="toggle-trigger-on" data-on=" Activado" data-off="Desactivado" data-onstyle="success" data-offstyle="danger">
                {% else: %}
                <input id="toggle-two-off" name="toggle-two-off" type="checkbox" data-toggle="toggle-trigger-off" data-on=" Activado" data-off="Desactivado" data-onstyle="success" data-offstyle="danger">
                
                {% endif %}                
                <!-- <input id="toggle-two" name="toggle-trigger" type="checkbox" checked data-toggle="toggle" data-on=" Activado" data-off="Desactivado" data-onstyle="success" data-offstyle="danger"> -->
                
             </td>
            {% else: %}
            <td>
            <div>
        Usuario sistema no puede ser alterado.
            </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-secondary" href="./signup"><i class="fa fa-plus"></i> Añadir</a>

{% endblock %}
